body {
    margin: 0px;
    background-image:url(../images/grunge_wall.png);


}

#box0 {
    color: #eee;
}

.boxinner {
    padding: 10px;
}

.mag {
    height: 300px;
}

.innerdivfooter {
    text-align: center;
    font-family: Poiret One;
    

}

#contentFrame {
    width: 100%;
    height: 200;
    
}

.top {
    height: 300px;
    box-shadow: 0px 0px 9px 0.00px rgba(0, 0, 0, 0.33);
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    z-index: 1;
    
    /* background and ani */
    background-image: url(../images/1.png);
    background-origin: content-box;
    backface-visibility: visible;
    background-position: center;
    background-size: cover;
    -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;
    
}

.mag {
    -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: height 0.5s;    
}

.fullbox {
    width: 100%;
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.33);
    background-image: url(../images/tactile_noise.png);
    min-height: 200px;
    text-align: left;
    padding: 0px;
}

.max-width {
    max-width: 1024px;
}

.box {
    background-color:#333333;
    height: 300px;
    margin-top: 50px;
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.33);
    background-image: url(../images/tactile_noise.png);

}

.floatleft {
    float: left;
}

.logo {
   float: left;
}

.footer {
    width: 100%;
    background-image:url(../images/pixel_weave.png);
    box-shadow: 0px 0px 15px #888888;
    height: 70px;
    margin-top: -50px;
    padding: 5px;
}

.menudiv{ 
    margin-top:0px;
    width: 100%;
    height: 50px;
    border-bottom-right-radius:0.2em;
    border-bottom-left-radius:0.2em;
    box-shadow: 5px 5px 5px 0.00px rgba(0, 0, 0, 0.33);
    background-image:url(../images/pixel_weave.png);
    opacity: 0.89;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
}

.menudiv ul, M_mobil ul, dl {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    float: right;
    margin-right: 10px;
}

.menudiv il, M_mobil il, il {
    color: #FFF;
    font-family: Poiret One;
    font-size: 20px;
    width: 100px;
    background-color: #505050;
    position: relative;
    top: 12px;
    padding: 7px;
     opacity: 1;
    border-radius: 5px;
    transition: 0.5s;
    text-decoration: none;
}

.menudiv il:hover, M_mobil il:hover, M_mobil il:hover {
    color: #FF4000;
    background-color:#383838;
}

.menudiv il:active, M_mobil il:active, M_mobil il:active {
    color: #FF0000;
    background-color:#1C1C1C;
}

.mobilmenu {
    display: none;
    float: left;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

#M_mobil {
    display: none;
    width: 100%;
    padding: 5px;
    top: -8px;
    box-shadow: 2px 4px 5px 0.00px rgba(0, 0, 0, 0.33);
    position: fixed;
    z-index: 1;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    background-color: #1C1C1C;
    
    
}

#M_mobil il {
    display: block;
    width: 100%;
    margin: 0px;
    background-color:transparent;
    font-size: 2em;
    margin-top: -5px;


}

#M_mobil il:hover {
    display: block;
    width: 100%;
    margin: 0px;
    background-color: #c95702;
    transition: 0.3s;
    border:none;

}

#M_mobil ul {
     margin-top: -13px;
    margin-left: -60px;
     background-color:transparent;
    background-image: url(images/footer_lodyas.png);

}

#toggelM_menu{
    display: none;
    margin-top: 0px;
    padding: 5px;
    top: 0px;

}

.toggelbut {
    float: left;
}


/* BMI CSS */

 .holder {   
    width: 100%;
    border: 1px solid;
    border-radius: 15px;
    float: left;
                
    background: rgb(34,154,201); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiMyMjlhYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiMyMjlhYzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NCUiIHN0b3AtY29sb3I9IiNiNmUwMjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4OSUiIHN0b3AtY29sb3I9IiNlMjM3MmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(34,154,201,1) 40%, rgba(34,154,201,1) 40%, rgba(182,224,38,1) 64%, rgba(226,55,43,1) 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(40%,rgba(34,154,201,1)), color-stop(40%,rgba(34,154,201,1)), color-stop(64%,rgba(182,224,38,1)), color-stop(89%,rgba(226,55,43,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(34,154,201,1) 40%,rgba(34,154,201,1) 40%,rgba(182,224,38,1) 64%,rgba(226,55,43,1) 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(34,154,201,1) 40%,rgba(34,154,201,1) 40%,rgba(182,224,38,1) 64%,rgba(226,55,43,1) 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(34,154,201,1) 40%,rgba(34,154,201,1) 40%,rgba(182,224,38,1) 64%,rgba(226,55,43,1) 89%); /* IE10+ */
    background: linear-gradient(to right,  rgba(34,154,201,1) 40%,rgba(34,154,201,1) 40%,rgba(182,224,38,1) 64%,rgba(226,55,43,1) 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#229ac9', endColorstr='#e2372b',GradientType=1 ); /* IE6-8 */
}

.button {
   width: 120px;
    transition: 0.3s;
    background-color: none;
      cursor: pointer;
    
}

.button:hover {
   background-color: #FF4000; 
    box-shadow: none;
    
}
         
            
            
            .form {
                -webkit-border-radius: 5px;
                border-radius: 5px;
                height: 20px;
            
            }

input {
    background:none; 
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 3px #FFF inset; 
    outline: none; 
    height:20px; 
    width: 90%; 
    margin:5px; 
    color: #FFF;
    font-family: Poiret One;
    text-align: center;
    transition:0.2;
    
}

input:focus {
    box-shadow: 0 0 5px #FF4000 inset;
}
	             
#bor {
    background-color: yellow;
    height:10px;
    width: 0%;
    max-width: 100%;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
    border-radius: 15px;
    float: left;
    border: 0px;
    border-style: solid;
    border-color: #fff;
    opacity: 0.5;
    box-shadow:0 0 10px;
    -webkit-box-shadow:0 0 10px;
    -moz-box-shadow:0 0 10px;
}

.box1 {
    margin: 10px;
    margin-top: -8px;
    color: #FFF;
    font-family: Poiret One;
    font-size: 15px;
}


.box1 label {
    float: left;
    
    color: #FFF;
    font-family: Poiret One;
    font-size: 15px;
}

.big {
    font-size: 17px;
    height: 1.5em;

}


 /* BMI CSS SLUT */                

@media only screen and (max-width:1024px) {
    .menudiv{ 
        
        border-bottom-right-radius:0;
        border-bottom-left-radius:0;
        position: relative;
    
    }
    
    

}

@media only screen and (max-width:780px) {
    
    .top {
    background-position: center; 
    }
    
    
    .toggelbut {
        float: right;
    }
        
    .mobilmenudiv {
        width: 90%;
        height: 60%;
        opacity: 1;
        border: 1px;
        border-color: #FFF;
        padding: 5px;
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px;
        color: #505050;
        display: ;

    }
        
    .menudiv ul {
        display: none;
        width: 0px;
        height: 0px;
    }

    .menudiv a {
        text-decoration: none;
    }
       
    .menudiv {
        border-bottom-right-radius: none;
        border-bottom-left-radius: none;
        position: relative;
    }

    #toggelM_menu{
        display:block;
    }
    
    .top {
        z-index: 0;
        background-position:-600px;
    
    }
    
    #M_mobil {
    z-index: 1;
    }
}



@media only screen and (max-width:480px) {
    .top {
    height: 300px;
    width: 100%;
        background-position:center; 
        
    }
        
    .toggelbut {
    float: right;

    }
        
    .mobilmenudiv {
        width: 90%;
        height: 60%;
        opacity: 1;
        border: 1px;
        border-color: #FFF;
        padding: 5px;
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px;
        color: #505050;
        display: ;

    }
        
    .menudiv ul {
        display: none;
        width: 0px;
        height: 0px;
    }

    .menudiv a {
        text-decoration: none;
    }
       
    .menudiv {
        background-image: none;
        background-color: none;
        border-bottom-right-radius: none;
        border-bottom-left-radius: none;
        position: relative;
    }

        
    #toggelM_menu{
        display:block;
        

    }    
}
